@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;1,200;1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,200&display=swap");

:root {
  --cor-principal: #48B2D5;
  --cor-secundaria: #F5B200;
  --cor-texto2: #fff;
  --cor-texto3: #000;
}
/****      *****/
.txtAlg {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
}

html,
body {
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  cursor: default;
}

/* header */
header {
  background-color:var(--cor-principal);
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--cor-secundaria);
}
header p {
  font-size: 1.3em;
  color: var(--cor-texto2);
}

header nav {
  display: flex;
  align-items: center;
}

header nav img {
  width: 25px; 
  height: 25px; 
  margin: 0 1.4vw 0 1vw; 
  filter: invert(100%);
  cursor: pointer;
}

/* Main background */
.background {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  text-align: center;
  background-color: #f5b40015;
}

.background img {
  width: 170vh;
  height: 100%;
  object-fit: cover;
}

section .writeZipeCode {
  background-color: #f5b400;
  position: absolute;
  width: 15%;
  height: 20%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #000;
}

.background article div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: var(--cor-texto2);
  
}
.background article div input {
  margin: 5px 0 0 0;
  width: 50%;
  height: 2.5em;
  border-radius: 5px;
  border-style: none;
  padding: 0 1.24em 0 1.24em;
  color: #000;
  letter-spacing: 0.5em;
  text-align: center;
}

.br{
  margin-top: 10em;
  width: 100%;
  height: 2px;
  background-color: var(--cor-secundaria);
}

/* MAIN zipCode  */

 .ondas {
  width: 100%;
}

main .zipCode {
  background-color: #48B2D5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}


.ZPInfo{
  margin-top: 5em;
  width: 80%;
}
.txtAlg, .pAlg {
  color: var(--cor-texto2);
  font-size: 1.3em;
  padding: 1em;
}

/* MAIN endress */
#InlinezipCode {
  display: none;
}

h2 {
  margin-top: 8em;
  color: var(--cor-texto2);
}
.endressZipCode {
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  margin: 5em 0 10em 0;
}

.endressZipCode img {
  width: 100px;
}
main .zipCode .endress {
  text-align: center;
 border-radius: 5px;
 color: var(--cor-texto2);
}

.endress {
  background-color: #fff;
  width: 20%;
  padding: 1em;
}
 .endress p {
  color: var(--cor-texto3);
 }

/* FOOTER */
footer {
  text-align: center;
  width: 100%;
  height: 50px; 
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 50px; 
}


@media screen and (max-width: 768px) {

}