@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;1,200;1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,200&display=swap");

:root {
  --cor-principal: #48B2D5;
  --cor-secundaria: #F5B200;
  --cor-texto2: #fff;
  --cor-texto3: #000;
}
/****      *****/
.txtAlg {
  text-align: center;
}
.flex {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
}

html,
body {
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  cursor: default;
}

/* header */
header {
  background-color:var(--cor-principal);
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--cor-secundaria);
}
header p {
  font-size: 1.3em;
  color: var(--cor-texto2);
}

header nav {
  display: flex;
  align-items: center;
}

header nav img {
  width: 25px; 
  height: 25px; 
  margin: 0 1.4vw 0 1vw; 
  filter: invert(100%);
  cursor: pointer;
}

/* Main background */
.background {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  text-align: center;
  background-color: #f5b40015;
}

.background .imgG {
  width: 170vh;
  height: 100%;
  object-fit: cover;
}

section .writeZipeCode {
  background-color: #f5b400;
  position: absolute;
  width: 300px;
  height: 120px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 5px 15px #000000da;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.writeZipeCode p {
  color: var(--cor-texto2);
  margin-top: 20px;
}

.background article div {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  color: var(--cor-texto2);
  
}
.background article div input {
  outline: none;
  margin: 5px 0 0 0;
  width: 50%;
  height: 35px;
  border-radius: 5px 0 0 5px;
  border-style: none;
  padding: 0 1.24em 0 1.24em;
  color: #000;
  letter-spacing: 0.5em;
}

.background article div #btnsearch {
  width: 35px;
  height: 35px;
  border: none;
  margin: 5px 0 0 0;
  padding: 2px;
  border-radius: 0 5px 5px 0 ;
  background-color: var(--cor-principal);
  color: var(--cor-texto2);
  cursor: pointer;
}

.background article div #btnsearch:hover{
  filter: brightness(70%);
}


.br{
  margin-top: 10em;
  width: 100%;
  height: 2px;
  background-color: var(--cor-secundaria);
}

/* MAIN zipCode  */


main .zipCode {
  background-color: #48B2D5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}


.ZPInfo{
  margin-top: 5em;
  width: 80%;
}
.txtAlg, .pAlg {
  color: var(--cor-texto2);
  font-size: 1.3em;
  padding: 1em;
}

/* MAIN endress */
#InlinezipCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.h2 {
  margin-top: 8em;
  color: var(--cor-texto2);
}
.endressZipCode {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5em 0 10em 0;
  width: 100%;
}

.endressZipCode img {
  width: 100px;
}

.endress {
  width: 350px;
  border-radius: 5px;
  background-color: var(--cor-principal);
  color: var(--cor-texto2);
  box-shadow: 0px 0px 30px #0000002d;
  padding: 1em;
  display: flex;
  justify-content: center;
  justify-self: center;
}

#euaimg, #brimg, #brimgG, #euaimgG, #InlinezipCode  {
  display: none;
}

#searchAgain{
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: var(--cor-secundaria);
  color: var(--cor-texto2);
}
#searchAgain:hover {
  cursor: pointer;
  filter: brightness(90%);
}

/* FOOTER */
footer {
  text-align: center;
  width: 100%;
  height: 50px; 
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 50px; 
}

@media screen and (max-width: 548px) {
  /* header */
header {
  padding: 5px;
}

header h1 {
  font-size: 1em;
}
header p {
  font-size: 1em;
}

header nav img {
  width: 12px; 
  height: 12px; 
  margin: 2px 2px 0 3px; 
}

/* Main background */
.background {
  height: 40vh;
}

.background .imgG {
  width: 100vh;
  height: 130%;
}

section .writeZipeCode {
  width: 210px;
  height: 100px;
}
.writeZipeCode p {
  margin-top: 20px;
}

.background article div {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  color: var(--cor-texto2);
  
}
.background article div input {
  outline: none;
  margin: 5px 0 0 0;
  width: 50%;
  height: 35px;
  border-radius: 5px 0 0 5px;
  border-style: none;
  padding: 0 1.24em 0 1.24em;
  color: #000;
  letter-spacing: 0.5em;
}

.background article div #btnsearch {
  width: 35px;
  height: 35px;
  border: none;
  margin: 5px 0 0 0;
  padding: 2px;
  border-radius: 0 5px 5px 0 ;
  background-color: var(--cor-principal);
  color: var(--cor-texto2);
  cursor: pointer;
}

.background article div #btnsearch:hover{
  filter: brightness(70%);
}


.br{
  margin-top: 10em;
  width: 100%;
  height: 2px;
  background-color: var(--cor-secundaria);
}





}