@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;1,200;1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;1,200&display=swap");

:root {
  --cor-principal: #48B2D5;
  --cor-secundaria: #F5B200;
  --cor-texto2: #fff;
  --cor-texto3: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  letter-spacing: 1px;
  cursor: default;
}

/* header */
header {
  background-color:var(--cor-principal);
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: var(--cor-secundaria);
}
header p {
  font-size: 1.3em;
  color: var(--cor-texto2);
}

header nav {
  display: flex;
  align-items: center;
}

header nav img {
  width: 24px;
  height: 24px;
  margin: 0 1.4em 0 1em ;
  filter: invert(100%);
  cursor: pointer;
}

/* Main */
.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.background img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

section article {
  padding: 1em;
  background-color: #f5b400;
  position: absolute;
  width: 15%;
  height: 10%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
}

section article div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
section article div input {
  margin: 5px 0 0 0;
  width: 50%;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  padding: 0 5px 0 5px;
  color: #000;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 800;
}

/* FOOTER */
footer {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 50px; 
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 50px; 
}